@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  margin:0;
/*this will hide the scroll bar on the x-axis*/
  overflow-x: hidden;
  background-color: darkgrey;
  color:#222;
}

.container{
  background-color: #fafafa;
  /*this is responsible for the transform rotate to start at the top left of webpage*/
  transform-origin: top left;
  transition: transform 0.5s linear;
  width:100vw;
  min-height: 100vh;
  padding: 50px;
}

/*this is responsible for rotating everything in the  parent container by -20 degrees*/
.container.show-nav{
  transform: rotate(-15deg);
  
}


img{
  width:500px;
}

.circle-container{
  position: fixed;
  top:-100px;
  left: -100px;

}

.circle{
  background-color: lightseagreen;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background:transparent;
  font-size: 25px;
  border: 0;

}

.circle button:focus{
outline: none;

}

#open{

  left:60%;
}

.circle button#close{
  top:60%;
  transform: rotate(90deg);
  transform-origin: top left;
}


.container.show-nav + nav li {
transform: translateX(0);
transition-delay: 0.3s;
}



nav{
  position: fixed;
  bottom: 40px;
  left: 0px;
  z-index:100 ;
  
}


ul{

  list-style-type: none;
  padding-left: 30px;
}

li{
  text-transform: uppercase;
  color: white;
  /*adds 40px to the top and bottom and 0px to the left and right*/
  margin: 40px 0px;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}
/*this gives the slanted (at an angle)look to the li font awesome icons*/
nav ul li + li {

  margin-left: 15px;
  transform: translateX(-150%);
}



.content{

  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0px;
}

.content small{
  color:#222;
  font-style: italic
  ;
}

.content p {
  color:coral;
  font-weight: bolder;
  line-height: 1.5;

}