@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  margin:0;
/*this will hide the scroll bar on the x-axis*/
  overflow-x: hidden;
  background-color: darkgrey;
  color:#222;
}

.container{
  background-color: #fafafa;
}

/*this is responsible for rotating everything in the  parent container by -20 degreees*/
.container.show-nav{
  transform: rotate(-20deg);
}


img{
  width:500px;
}
